# Overscan masking OFF para todos los cores (mostrar imagen completa)

# FCEUmm (NES)
fceumm_overscan_top = "0"
fceumm_overscan_bottom = "0"
fceumm_overscan_left = "0"
fceumm_overscan_right = "0"

# Nestopia (NES)
nestopia_overscan_top = "0"
nestopia_overscan_bottom = "0"
nestopia_overscan_left = "0"
nestopia_overscan_right = "0"

# Mesen (NES)
mesen_ntsc_overscan_top = "0"
mesen_ntsc_overscan_bottom = "0"
mesen_ntsc_overscan_left = "0"
mesen_ntsc_overscan_right = "0"
mesen_pal_overscan_top = "0"
mesen_pal_overscan_bottom = "0"
mesen_pal_overscan_left = "0"
mesen_pal_overscan_right = "0"

# Snes9x (SNES)
snes9x_overscan = "disabled"

# Genesis Plus GX (Mega Drive / Genesis)
genesis_plus_gx_overscan = "disabled"

# PicoDrive (Mega Drive)
picodrive_overscan = "disabled"

# Gambatte (Game Boy)
gambatte_gb_hwmode = "Auto"

# bsnes-jg (SNES)
bsnes_jg_overscan_t = "0"
bsnes_jg_overscan_b = "0"
bsnes_jg_overscan_l = "0"
bsnes_jg_overscan_r = "0"

# Beetle PSX (PlayStation)
beetle_psx_image_crop = "disabled"
